@import "../../dependencies/variables";
@import "../../dependencies/mixins";

[data-mk-component="ScrollView"] {
    position: relative;
    -webkit-overflow-scrolling: touch;

    // States
    [data-mk-component="Page"] > & {
        width: 100%;
        height: 100%;
    }

    &:not(.horizontal) {
        overflow-x: hidden;
        overflow-y: auto;
    }
    
    &.horizontal {
        overflow-x: auto;
        overflow-y: hidden;
    }
}