[data-mk-component="App"] {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    @include font-smoothing;

    // States
    &.disable-navBar {
        [data-mk-component="NavBar"] {
            opacity: 0;
            pointer-events: none;
        }
    }
}